body{
  margin: 0;
  margin-left:50px ;
  display: flex;
  justify-content: center;
  background-color: azure;
}
.barra{
 display: flex;
height: 34px;
width: 346px;
border: 3px;
border-color: black;
background-color: yellow;
justify-content: space-around;
align-items: center;
margin: 16px;
}
.cubo-verde{
width: 28px;
height: 28px;
border-color: black;
border: 1px;
background-color: green;
}
.cubo-laranja{
  height: 34px;
  width: 346px;
  border: 1px;
  border-color: black;
  background-color: orangered;
}
.texto-conteudo{
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 34px;
  justify-content: space-between;
}
.tamanho-1{
  width: 494px;
}